extends layout

block content
  h1= title

   if (toShow == null)
    h2 No instance to delete
   else

    - let dogid = toShow._id
    - let dogtype = toShow.dogtype
    - let dogcost = toShow.cost
    - let dogsize = toShow.size
    
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{dogid}
    - let actionid = "/resource/dog/" + dogid
    form(id='dogForm', action= actionid, method="PUT")
      div.form-group
        label.dogAttr(for='dogname') dog name
          input#dogname(type='text', name='dogname', value= dogtype)
      div.form-group
        label.dogAttr(for='age') dog age
          input#age(type='number', name='age', value= dogsize)
      div.form-group
          label.dogAttr(for='breed') dog breed
          input#cost(type='text', name='breed', value= dogcost)
      input(type="submit")

    script.
      document.forms['dogForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });
